.blog-card img {
  width: 100%;
  height: 200px; /* fixed height */
  object-fit: cover; /* prevents stretching */
  border-radius: 8px;
}

.author small {
  padding: 10px;
}

.delete-btn {
  margin-top: 10px;
  padding: 6px 12px;
  background-color: #ff4d4f;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

.delete-btn:hover {
  background-color: #d9363e;
}
